/**********common*********/
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

.bg-image {
  position:absolute;
  left:0px;
  top:0px;
  width:100%;
  height:100%;
  z-index: 0;
}

.clear {
  clear: both;
}

.footer-text {
  font-size: 11pt;
  color: #aaaaaa;
  font-weight: normal;
}

#footer-navbar .ui-icon {
  width: 30px!important; 
  height: 30px!important; 
  margin-left: -15px !important; 
  box-shadow: none!important; 
  -moz-box-shadow: none!important; 
  -webkit-box-shadow: none!important; 
  -webkit-border-radius: 0 !important; 
  border-radius: 0 !important;
  top: 0px !important;
}

.home .ui-icon {
  background:  url(../../images/icon_home.png) 50% 50% no-repeat; 
  background-size: 30px 30px; 
}

.contact .ui-icon {
  background:  url(../../images/icon_contact.png) 50% 50% no-repeat; 
  background-size: 30px 30px; 
}

.like .ui-icon {
  background:  url(../../images/icon_like.png) 50% 50% no-repeat; 
  background-size: 30px 30px; 
}

.setting .ui-icon {
  background:  url(../../images/icon_setting.png) 50% 50% no-repeat; 
  background-size: 30px 30px; 
}

#footer-navbar .ui-btn-text {
  color: #aaaaaa;
}
/**********common*********/

/**********index*********/
#index-image {
  display: block;
  margin: 0 auto;
  z-index: 99;
}

#index-image img {
  position:absolute;
  left:0px;
  top:25%;
  width:100%;
  height:35%;
  z-index: 0;
}

#index-content {
  position:relative;
}

#index-page {
  height: 89%;
}

#index-content {
  height: 95.5%;
}

#index-login-btn {
  position: absolute;
  bottom: 5%;
  left: 15%;
  width: 30%;
}

#index-register-btn {
  position: absolute;
  bottom: 5%;
  right: 15%;
  width: 30%
}
/**********index*********/

/**********register*********/
#register-content {
  position:relative;
}

#register-page {
  height: 89%;
}

#register-content {
  height: 95.5%;
}

#register-image {
  display: block;
  margin: 0 auto;
  z-index: 99;
  width: 500px;
}

#register-image img {
  position:absolute;
  left: 10%;
  top:0px;
  width:80%;
  height:40%;
  z-index: 0;
}

#register-form {
  position:absolute;
  top: 45%;
  width: 90%;
}

#register-btn-wrapper {
  position: absolute;
  bottom: 20%;
  left: 5%;
  width: 30%;
}
/**********register*********/

/**********login*********/
#login-content {
  position:relative;
}

#login-page {
  height: 89%;
}

#login-content {
  height: 95.5%;
}

#login-image {
  display: block;
  margin: 0 auto;
  z-index: 99;
  width: 500px;
}

#login-image img {
  position:absolute;
  left: 10%;
  top:0px;
  width:80%;
  height:40%;
  z-index: 0;
}

#login-form {
  position:absolute;
  top: 45%;
  width: 90%;
}

#login-form a {
  position: absolute;
  right: 10%;
  margin-top: 10px;
}

#login-btn-wrapper {
  position: absolute;
  bottom: 20%;
  left: 15%;
  width: 30%;
}

#login-register-btn {
  position: absolute;
  bottom: 20%;
  right: 15%;
  width: 30%
}
/**********login*********/

/**********show*********/
#show-content {
  padding: 0px;
}

#mes-list {
  border-radius: 10px;
  margin: 0 auto;
}

#mes-list li {
  padding: 10px;
}

.show-content {
  font-weight: normal;
  color: gray;
}
/**********show*********/

/**********contact*********/
#contact-content {
  padding: 0px;
  width: 100%;
}

#contact-list {
  border-radius: 10px;
  margin: 0 auto;
}

#contact-list li {
  padding: 10px;
}

.contact-email {
  font-weight: normal;
  color: gray;
}
/**********contact*********/

/**********friend-info************/
#friend-avatar {
  margin-bottom: 30px;
}

#friend-avatar img {
  width: 200px;
  height: 200px;
  border-radius: 15px;
  display: block;
  margin: 0 auto;
}

/**********friend-info************/

/**********new-message************/
#new-message-page {
  width: 100%;
}

#new-message-content {
  width: 100%;
  padding: 0px !important;
}

#create-picture {
  overflow:auto
}

.new-picture .ui-icon {
  background:  url(../../images/btn_open_image_gallary.png) 50% 50% no-repeat; 
  background-size: 30px 30px; 
}

.add-text .ui-icon {
  background:  url(../../images/btn_add_text.png) 50% 50% no-repeat; 
  background-size: 30px 30px; 
}

.add-voice .ui-icon {
  background:  url(../../images/btn_add_voice.png) 50% 50% no-repeat; 
  background-size: 30px 30px; 
}

.text-icon {
  position: absolute;
}
/**********new-message************/

/**********setting*********/
#setting-content {
  padding: 0px;
}

#user-info-list-one, #user-info-list-two {
  border-radius: 15px;
  margin: 0 auto;
}

#user-info-list-one li, #user-info-list-two li {
  padding: 10px;
}

#user-info-list-two {
  margin-top: 15px;
  margin-bottom: 20px;
}

#user-info-list-one li a img {
  border-radius: 0px;
  display: inline-block;
}

#setting-content {
  width: 95%;
  margin: 0 auto;
  margin-top: 15px;
}
/**********setting*********/

/**********change mobile*********/
#change-mobile-confirm-btn-wrapper {
  position: absolute;
  left: 10%;
  width: 30%;
  margin-top: 5%;
  display: inline-block;
}

#cancel-btn-wrapper {
  position: absolute;
  display: inline-block;
  margin-top: 5%;
  width: 30%;
  left: 60%;
}
/**********change mobile*********/


